<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style_catalog.css'%}">

    <title>Catalog</title>

</head>
<body>

    
    <div class="contaner">  
        <div class="Hero">
            <p>Text</p>
        </div>        
    </div>

<div class="container">
    <ul class="products clearfix">
        <li class="product-wrapper">
            <a href="" class="product"></a>
            

            <div class="product-photo">
                <img src="assets/images/pic1.jpg" alt="">
            </div>
           

            <div class="product__text">
                <p class="product__text__title">How Digital Workers Put AI to Work</p>
                <p class="product__text__description">Read how WorkFusion's Digital Workers can provide efficient path for positive business outcomes, with better customer / employee experience and compliance.</p>
                <p class="category-list__price">February 2, 2022 6 min read</p>
            </div>    

            <a href="#" class="btn">Buy</a> <p class="price">Price</p>



        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>
               

                <div class="product-photo">
                    <img src="assets/images/pic1.jpg" alt="">
                </div>
               

                <div class="product__text">
                    <p class="product__text__title">How Digital Workers Put AI to Work</p>
                    <p class="product__text__description">Read how WorkFusion's Digital Workers can provide efficient path for positive business outcomes, with better customer / employee experience and compliance.</p>
                    <p class="category-list__price">February 2, 2022 6 min read</p>
                </div>    

                <a href="#" class="btn">Buy</a> <p class="price">Price</p>



            
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>


                <div class="product-photo">
                    <img src="assets/images/pic1.jpg" alt="">
                </div>
               

                <div class="product__text">
                    <p class="product__text__title">How Digital Workers Put AI to Work</p>
                    <p class="product__text__description">Read how WorkFusion's Digital Workers can provide efficient path for positive business outcomes, with better customer / employee experience and compliance.</p>
                    <p class="category-list__price">February 2, 2022 6 min read</p>
                </div>    

                <a href="#" class="btn">Buy</a> <p class="price">Price</p>



            
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>


                <div class="product-photo">
                    <img src="assets/images/pic1.jpg" alt="">
                </div>
               

                <div class="product__text">
                    <p class="product__text__title">How Digital Workers Put AI to Work</p>
                    <p class="product__text__description">Read how WorkFusion's Digital Workers can provide efficient path for positive business outcomes, with better customer / employee experience and compliance.</p>
                    <p class="category-list__price">February 2, 2022 6 min read</p>
                </div>    

                <a href="#" class="btn">Buy</a> <p class="price">Price</p>


            
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>


                <div class="product-photo">
                    <img src="assets/images/pic1.jpg" alt="">
                </div>
               

                <div class="product__text">
                    <p class="product__text__title">How Digital Workers Put AI to Work</p>
                    <p class="product__text__description">Read how WorkFusion's Digital Workers can provide efficient path for positive business outcomes, with better customer / employee experience and compliance.</p>
                    <p class="category-list__price">February 2, 2022 6 min read</p>
                </div>    

                <a href="#" class="btn">Buy</a> <p class="price">Price</p>


            
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>


                <div class="product-photo">
                    <img src="assets/images/pic1.jpg" alt="">
                </div>
               

                <div class="product__text">
                    <p class="product__text__title">How Digital Workers Put AI to Work</p>
                    <p class="product__text__description">Read how WorkFusion's Digital Workers can provide efficient path for positive business outcomes, with better customer / employee experience and compliance.</p>
                    <p class="category-list__price">February 2, 2022 6 min read</p>
                </div>    

                <a href="#" class="btn">Buy</a> <p class="price">Price</p>



            
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>


                <div class="product-photo">
                    <img src="assets/images/pic1.jpg" alt="">
                </div>
               

                <div class="product__text">
                    <p class="product__text__title">How Digital Workers Put AI to Work</p>
                    <p class="product__text__description">Read how WorkFusion's Digital Workers can provide efficient path for positive business outcomes, with better customer / employee experience and compliance.</p>
                    <p class="category-list__price">February 2, 2022 6 min read</p>
                </div>    

                <a href="#" class="btn">Buy</a> <p class="price">Price</p>


            
        </li>
        <li class="product-wrapper">
            <a href="" class="product"></a>


                <div class="product-photo">
                    <img src="assets/images/pic1.jpg" alt="">
                </div>
               

                <div class="product__text">
                    <p class="product__text__title">How Digital Workers Put AI to Work</p>
                    <p class="product__text__description">Read how WorkFusion's Digital Workers can provide efficient path for positive business outcomes, with better customer / employee experience and compliance.</p>
                    <p class="category-list__price">February 2, 2022 6 min read</p>

                </div>   
                
               
                    
                <a href="#" class="btn">Buy</a> <p class="price">Price</p>

                
            
        </li>
    </ul>
</div>


</body>
</html>